In [5]:
import mysql.connector
import pandas as pd

connection = mysql.connector.connect(
    host='localhost',          
    user='root',      
    password='incubytes@123',  
)

## Creating Staging/Intermediate Table

In [ ]:
create_staging_table = """
CREATE TABLE IF NOT EXISTS Staging_Customers (
    Customer_Name VARCHAR(255) NOT NULL,
    Customer_Id INT NOT NULL,
    Open_Date DATE NOT NULL,
    Last_Consulted_Date DATE,
    Vaccination_Id CHAR(5),
    Dr_Name CHAR(255),
    State CHAR(5),
    Country CHAR(5),
    Post_Code INT,
    DOB DATE,
    Is_Active CHAR(1),
    PRIMARY KEY (Customer_Id)
);
"""
cursor.execute(create_staging_table)

## Loading data into staging table from Source data csv file

In [6]:
import sqlite3

# Step 1: Load the CSV file into a DataFrame
csv_file_path = 'Source_data.csv'  # replace with the path to your CSV file

df = pd.read_csv(csv_file_path)
df.head()

# Step 2: Connect to your database 
conn = sqlite3.connect('hospital.db') 
cursor = conn.cursor()
df.head()

# Insert the data from the DataFrame into the database
try:
    for index, row in df.iterrows():
        cursor.execute("""
        INSERT INTO Staging_Customers (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Id, Dr_Name, State, Country, DOB, Is_Active) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, tuple(row))
    # Commit the transaction
    conn.commit()
    print("Data inserted successfully.")
except Exception as e:
    print(f"Error occurred: {e}")
conn.commit()

cursor.execute("SELECT * FROM Staging_Customers;")
rows = cursor.fetchall()

print(rows)
# Commit the transaction

Error occurred: UNIQUE constraint failed: Staging_Customers.Customer_Id
[('Aayushi Sharma', 123456, 20101012, 20211013, 'MVD', 'Dewang', 'AP', 'IND', 456010, 19980331, 'A'), ('Akshita Patidar', 123457, 20101013, 20211014, 'MVD', 'Yash', 'HR', 'IND', 456119, 19981111, 'A'), ('Shakti Aggarwal', 123458, 20210923, 20210924, 'MVD', 'Emma', 'NSW', 'JP', 408223, 19990129, 'A'), ('Anjali Sharma', 123459, 20210916, 20210917, 'MVD', 'Vera', 'WB', 'IND', 4, 19970203, 'N'), ('Ishika Tanwani', 123460, 20210807, 20210808, 'MVD', 'Shraddha', 'LM', 'USA', 41021, 19970612, 'N'), ('Khushi Jain', 123461, 20101012, 20210613, 'MVD', 'Paritosh', 'LA', 'USA', 67456, 19980409, 'N'), ('Shruti Jain', 123462, 20101013, 20210614, 'MVD', 'Parikshit', 'HQ', 'JP', 4006, 19981010, 'A'), ('Gaurav Mishra', 123463, 20101014, 20210615, 'MVD', 'Nayan', 'TV', 'JP', 'AB 101', 19970203, 'N'), ('Vaishali Jain', 123464, 20101015, 20210616, 'MVD', 'Ankur', 'AP', 'IND', 40061, 19981111, 'A'), ('Rima Bar', 123465, 20101016, 20210617, 'MVD', 'Harsh', 'MH', 'USA', 41061, 19970203, 'N'), ('Ananya Negi', 123466, 20101017, 20210618, 'MVD', 'Ishika', 'MK', 'USA', 'AB 101', 19980909, 'N'), ('Manav Kampani', 123467, 20101018, 20210619, 'MVD', 'Sakshi', 'SA', 'IND', 9006, 19981111, 'N')]

## Calculating Age and Days Since Last Consulted column and adding into Source data.

In [4]:
from datetime import datetime

df['DOB'] = pd.to_datetime(df['DOB'], format='%Y%m%d')
df['Last_Consulted_Date'] = pd.to_datetime(df['Last_Consulted_Date'], format='%Y%m%d')

df['Age'] = (datetime.now() - df['DOB']).dt.days // 365
df['Days_Since_Last_Consulted'] = (datetime.now() - df['Last_Consulted_Date']).dt.days

# Creating Common Table containing all the columns including age and days since last consulted column

In [9]:
import pandas as pd
import sqlite3
from datetime import datetime

# Step 1: Load the CSV file into a DataFrame
csv_file_path = 'Source_data.csv'  
df = pd.read_csv(csv_file_path)

# Convert date columns from string to datetime
df['DOB'] = pd.to_datetime(df['DOB'], format='%Y%m%d')
df['Last_Consulted_Date'] = pd.to_datetime(df['Last_Consulted_Date'], format='%Y%m%d')
df['Open_Date'] = pd.to_datetime(df['Open_Date'], format='%Y%m%d')

# Calculate Age and Days Since Last Consulted
df['Age'] = (datetime.now() - df['DOB']).dt.days // 365
df['Days_Since_Last_Consulted'] = (datetime.now() - df['Last_Consulted_Date']).dt.days

# Convert date columns to string format for SQLite
date_columns = ['Open_Date', 'Last_Consulted_Date', 'DOB']
for column in date_columns:
    df[column] = df[column].dt.strftime('%Y-%m-%d')  # Format as needed

print(df.head())

conn = sqlite3.connect('hospital.db')  # added .db extension for clarity
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS common_table (
    Customer_Name TEXT,
    Customer_Id INTEGER,
    Open_Date TEXT,
    Last_Consulted_Date TEXT,
    Vaccination_Id INTEGER,
    Dr_Name TEXT,
    State TEXT,
    Country TEXT,
    DOB TEXT,
    Is_Active INTEGER,
    Age INTEGER,
    Days_Since_Last_Consulted INTEGER
)
""")

for index, row in df.iterrows():
    cursor.execute("""
    INSERT INTO common_table (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Id, Dr_Name, State, Country, DOB, Is_Active, Age, Days_Since_Last_Consulted) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, tuple(row))

conn.commit()

     Customer_Name  Customer_Id   Open_Date Last_Consulted_Date  \
0   Aayushi Sharma       123456  2010-10-12          2021-10-13
1  Akshita Patidar       123457  2010-10-13          2021-10-14
2  Shakti Aggarwal       123458  2021-09-23          2021-09-24
3    Anjali Sharma       123459  2021-09-16          2021-09-17
4   Ishika Tanwani       123460  2021-08-07          2021-08-08

  Vaccination_Id   Dr_Name State Country         DOB Is_Active  Age  \
0            MVD    Dewang    AP     IND  1998-03-31         A   26
1            MVD      Yash    HR     IND  1998-11-11         A   25
2            MVD      Emma   NSW      JP  1999-01-29         A   25
3            MVD      Vera    WB     IND  1997-02-03         N   27
4            MVD  Shraddha    LM     USA  1997-06-12         N   27

   Days_Since_Last_Consulted
0                       1108
1                       1107
2                       1127
3                       1134
4                       1174

# Creating separate tables country wise for example Table_IND containing all the data of indian candidates

In [10]:
import pandas as pd
import sqlite3
from datetime import datetime


conn = sqlite3.connect('hospital.db')
cursor = conn.cursor()

df = pd.read_sql_query("SELECT * FROM common_table", conn)


df['DOB'] = pd.to_datetime(df['DOB'])
df['Last_Consulted_Date'] = pd.to_datetime(df['Last_Consulted_Date'])
df['Open_Date'] = pd.to_datetime(df['Open_Date'])

# Calculate Age and Days Since Last Consulted
df['Age'] = (datetime.now() - df['DOB']).dt.days // 365
df['Days_Since_Last_Consulted'] = (datetime.now() - df['Last_Consulted_Date']).dt.days

# Convert date columns to string format for SQLite
date_columns = ['Open_Date', 'Last_Consulted_Date', 'DOB']
for column in date_columns:
    df[column] = df[column].dt.strftime('%Y-%m-%d')

# Create country-wise tables and print their contents
unique_countries = df['Country'].unique()

for country in unique_countries:
    table_name = f"Table_{country.replace(' ', '_').replace('-', '_')}"  # Replace spaces and hyphens with underscores
    
    # Create the table if it doesn't exist
    cursor.execute(f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
        Customer_Name TEXT,
        Customer_Id INTEGER,
        Open_Date TEXT,
        Last_Consulted_Date TEXT,
        Vaccination_Id INTEGER,
        Dr_Name TEXT,
        State TEXT,
        Country TEXT,
        DOB TEXT,
        Is_Active INTEGER,
        Age INTEGER,
        Days_Since_Last_Consulted INTEGER
    )
    """)
    
    # Insert data specific to the current country
    country_data = df[df['Country'] == country]
    for index, row in country_data.iterrows():
        cursor.execute(f"""
        INSERT INTO {table_name} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Id, Dr_Name, State, Country, DOB, Is_Active, Age, Days_Since_Last_Consulted) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, tuple(row))

  
    conn.commit()

    # Print the contents of the created table
    print(f"\nContents of {table_name}:")
    country_df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    print(country_df)

Contents of Table_IND:
      Customer_Name  Customer_Id   Open_Date Last_Consulted_Date  \
0    Aayushi Sharma       123456  2010-10-12          2021-10-13
1   Akshita Patidar       123457  2010-10-13          2021-10-14
2     Anjali Sharma       123459  2021-09-16          2021-09-17
3     Vaishali Jain       123464  2010-10-15          2021-06-16
4     Manav Kampani       123467  2010-10-18          2021-06-19
..              ...          ...         ...                 ...
75   Aayushi Sharma       123456  2010-10-12          2021-10-13
76  Akshita Patidar       123457  2010-10-13          2021-10-14
77    Anjali Sharma       123459  2021-09-16          2021-09-17
78    Vaishali Jain       123464  2010-10-15          2021-06-16
79    Manav Kampani       123467  2010-10-18          2021-06-19

   Vaccination_Id Dr_Name State Country         DOB Is_Active  Age  \
0             MVD  Dewang    AP     IND  1998-03-31         A   26
1             MVD    Yash    HR     IND  1998-11-11         A   25
2             MVD    Vera    WB     IND  1997-02-03         N   27
3             MVD   Ankur    AP     IND  1998-11-11         A   25
4             MVD  Sakshi    SA     IND  1998-11-11         N   25
..            ...     ...   ...     ...         ...       ...  ...
75            MVD  Dewang    AP     IND  1998-03-31         A   26
76            MVD    Yash    HR     IND  1998-11-11         A   25
77            MVD    Vera    WB     IND  1997-02-03         N   27
78            MVD   Ankur    AP     IND  1998-11-11         A   25
79            MVD  Sakshi    SA     IND  1998-11-11         N   25

    Days_Since_Last_Consulted
0                        1108
1                        1107
2                        1134
3                        1227
4                        1224
..                        ...
75                       1108
76                       1107
77                       1134
78                       1227
79                       1224

[80 rows x 12 columns]

Contents of Table_JP:
      Customer_Name  Customer_Id   Open_Date Last_Consulted_Date  \
0   Shakti Aggarwal       123458  2021-09-23          2021-09-24
1       Shruti Jain       123462  2010-10-13          2021-06-14
2     Gaurav Mishra       123463  2010-10-14          2021-06-15
3   Shakti Aggarwal       123458  2021-09-23          2021-09-24
4       Shruti Jain       123462  2010-10-13          2021-06-14
5     Gaurav Mishra       123463  2010-10-14          2021-06-15
6   Shakti Aggarwal       123458  2021-09-23          2021-09-24
7       Shruti Jain       123462  2010-10-13          2021-06-14
8     Gaurav Mishra       123463  2010-10-14          2021-06-15
9   Shakti Aggarwal       123458  2021-09-23          2021-09-24
10      Shruti Jain       123462  2010-10-13          2021-06-14
11    Gaurav Mishra       123463  2010-10-14          2021-06-15
12  Shakti Aggarwal       123458  2021-09-23          2021-09-24
13      Shruti Jain       123462  2010-10-13          2021-06-14
14    Gaurav Mishra       123463  2010-10-14          2021-06-15
15  Shakti Aggarwal       123458  2021-09-23          2021-09-24
16      Shruti Jain       123462  2010-10-13          2021-06-14
17    Gaurav Mishra       123463  2010-10-14          2021-06-15
18  Shakti Aggarwal       123458  2021-09-23          2021-09-24
19      Shruti Jain       123462  2010-10-13          2021-06-14
20    Gaurav Mishra       123463  2010-10-14          2021-06-15
21  Shakti Aggarwal       123458  2021-09-23          2021-09-24
22      Shruti Jain       123462  2010-10-13          2021-06-14
23    Gaurav Mishra       123463  2010-10-14          2021-06-15
24  Shakti Aggarwal       123458  2021-09-23          2021-09-24
25      Shruti Jain       123462  2010-10-13          2021-06-14
26    Gaurav Mishra       123463  2010-10-14          2021-06-15
27  Shakti Aggarwal       123458  2021-09-23          2021-09-24
28      Shruti Jain       123462  2010-10-13          2021-06-14
29    Gaurav Mishra       123463  2010-10-14          2021-06-15
30  Shakti Aggarwal       123458  2021-09-23          2021-09-24
31      Shruti Jain       123462  2010-10-13          2021-06-14
32    Gaurav Mishra       123463  2010-10-14          2021-06-15
33  Shakti Aggarwal       123458  2021-09-23          2021-09-24
34      Shruti Jain       123462  2010-10-13          2021-06-14
35    Gaurav Mishra       123463  2010-10-14          2021-06-15
36  Shakti Aggarwal       123458  2021-09-23          2021-09-24
37      Shruti Jain       123462  2010-10-13          2021-06-14
38    Gaurav Mishra       123463  2010-10-14          2021-06-15
39  Shakti Aggarwal       123458  2021-09-23          2021-09-24
40      Shruti Jain       123462  2010-10-13          2021-06-14
41    Gaurav Mishra       123463  2010-10-14          2021-06-15
42  Shakti Aggarwal       123458  2021-09-23          2021-09-24
43      Shruti Jain       123462  2010-10-13          2021-06-14
44    Gaurav Mishra       123463  2010-10-14          2021-06-15
45  Shakti Aggarwal       123458  2021-09-23          2021-09-24
46      Shruti Jain       123462  2010-10-13          2021-06-14
47    Gaurav Mishra       123463  2010-10-14          2021-06-15

   Vaccination_Id    Dr_Name State Country         DOB Is_Active  Age  \
0             MVD       Emma   NSW      JP  1999-01-29         A   25
1             MVD  Parikshit    HQ      JP  1998-10-10         A   26
2             MVD      Nayan    TV      JP  1997-02-03         N   27
3             MVD       Emma   NSW      JP  1999-01-29         A   25
4             MVD  Parikshit    HQ      JP  1998-10-10         A   26
5             MVD      Nayan    TV      JP  1997-02-03         N   27
6             MVD       Emma   NSW      JP  1999-01-29         A   25
7             MVD  Parikshit    HQ      JP  1998-10-10         A   26
8             MVD      Nayan    TV      JP  1997-02-03         N   27
9             MVD       Emma   NSW      JP  1999-01-29         A   25
10            MVD  Parikshit    HQ      JP  1998-10-10         A   26
11            MVD      Nayan    TV      JP  1997-02-03         N   27
12            MVD       Emma   NSW      JP  1999-01-29         A   25
13            MVD  Parikshit    HQ      JP  1998-10-10         A   26
14            MVD      Nayan    TV      JP  1997-02-03         N   27
15            MVD       Emma   NSW      JP  1999-01-29         A   25
16            MVD  Parikshit    HQ      JP  1998-10-10         A   26
17            MVD      Nayan    TV      JP  1997-02-03         N   27
18            MVD       Emma   NSW      JP  1999-01-29         A   25
19            MVD  Parikshit    HQ      JP  1998-10-10         A   26
20            MVD      Nayan    TV      JP  1997-02-03         N   27
21            MVD       Emma   NSW      JP  1999-01-29         A   25
22            MVD  Parikshit    HQ      JP  1998-10-10         A   26
23            MVD      Nayan    TV      JP  1997-02-03         N   27
24            MVD       Emma   NSW      JP  1999-01-29         A   25
25            MVD  Parikshit    HQ      JP  1998-10-10         A   26
26            MVD      Nayan    TV      JP  1997-02-03         N   27
27            MVD       Emma   NSW      JP  1999-01-29         A   25
28            MVD  Parikshit    HQ      JP  1998-10-10         A   26
29            MVD      Nayan    TV      JP  1997-02-03         N   27
30            MVD       Emma   NSW      JP  1999-01-29         A   25
31            MVD  Parikshit    HQ      JP  1998-10-10         A   26
32            MVD      Nayan    TV      JP  1997-02-03         N   27
33            MVD       Emma   NSW      JP  1999-01-29         A   25
34            MVD  Parikshit    HQ      JP  1998-10-10         A   26
35            MVD      Nayan    TV      JP  1997-02-03         N   27
36            MVD       Emma   NSW      JP  1999-01-29         A   25
37            MVD  Parikshit    HQ      JP  1998-10-10         A   26
38            MVD      Nayan    TV      JP  1997-02-03         N   27
39            MVD       Emma   NSW      JP  1999-01-29         A   25
40            MVD  Parikshit    HQ      JP  1998-10-10         A   26
41            MVD      Nayan    TV      JP  1997-02-03         N   27
42            MVD       Emma   NSW      JP  1999-01-29         A   25
43            MVD  Parikshit    HQ      JP  1998-10-10         A   26
44            MVD      Nayan    TV      JP  1997-02-03         N   27
45            MVD       Emma   NSW      JP  1999-01-29         A   25
46            MVD  Parikshit    HQ      JP  1998-10-10         A   26
47            MVD      Nayan    TV      JP  1997-02-03         N   27

    Days_Since_Last_Consulted
0                        1127
1                        1229
2                        1228
3                        1127
4                        1229
5                        1228
6                        1127
7                        1229
8                        1228
9                        1127
10                       1229
11                       1228
12                       1127
13                       1229
14                       1228
15                       1127
16                       1229
17                       1228
18                       1127
19                       1229
20                       1228
21                       1127
22                       1229
23                       1228
24                       1127
25                       1229
26                       1228
27                       1127
28                       1229
29                       1228
30                       1127
31                       1229
32                       1228
33                       1127
34                       1229
35                       1228
36                       1127
37                       1229
38                       1228
39                       1127
40                       1229
41                       1228
42                       1127
43                       1229
44                       1228
45                       1127
46                       1229
47                       1228

Contents of Table_USA:
     Customer_Name  Customer_Id   Open_Date Last_Consulted_Date  \
0   Ishika Tanwani       123460  2021-08-07          2021-08-08
1      Khushi Jain       123461  2010-10-12          2021-06-13
2         Rima Bar       123465  2010-10-16          2021-06-17
3      Ananya Negi       123466  2010-10-17          2021-06-18
4   Ishika Tanwani       123460  2021-08-07          2021-08-08
..             ...          ...         ...                 ...
59     Ananya Negi       123466  2010-10-17          2021-06-18
60  Ishika Tanwani       123460  2021-08-07          2021-08-08
61     Khushi Jain       123461  2010-10-12          2021-06-13
62        Rima Bar       123465  2010-10-16          2021-06-17
63     Ananya Negi       123466  2010-10-17          2021-06-18

   Vaccination_Id   Dr_Name State Country         DOB Is_Active  Age  \
0             MVD  Shraddha    LM     USA  1997-06-12         N   27
1             MVD  Paritosh    LA     USA  1998-04-09         N   26
2             MVD     Harsh    MH     USA  1997-02-03         N   27
3             MVD    Ishika    MK     USA  1998-09-09         N   26
4             MVD  Shraddha    LM     USA  1997-06-12         N   27
..            ...       ...   ...     ...         ...       ...  ...
59            MVD    Ishika    MK     USA  1998-09-09         N   26
60            MVD  Shraddha    LM     USA  1997-06-12         N   27
61            MVD  Paritosh    LA     USA  1998-04-09         N   26
62            MVD     Harsh    MH     USA  1997-02-03         N   27
63            MVD    Ishika    MK     USA  1998-09-09         N   26

    Days_Since_Last_Consulted
0                        1174
1                        1230
2                        1226
3                        1225
4                        1174
..                        ...
59                       1225
60                       1174
61                       1230
62                       1226
63                       1225

[64 rows x 12 columns]